<?xml version='1.0' encoding='utf-8'?>
<widget id="anpho.f2" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:rim="http://www.blackberry.com/ns/widgets">
    <name>Flappy 2048</name>
    <author>anpho</author>
    <description>2048 & Flappy bird</description>
    <content src="index.html" />
    <icon src="114.png" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="ChildBrowser" value="enable" />
    <preference name="DiskCache" value="enable" />
    <preference name="HideKeyboardFormAccessoryBar" value="disable" />
    <preference name="Orientation" value="landscape" />
    <preference name="PopupBlocker" value="disable" />
    <preference name="WebSecurity" value="enable" />
</widget>
